<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.rn2014.scanner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="20" />

    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- <uses-library android:name="la.droid.qr" android:required="true"/> -->
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AuthActivity"
            android:label="@string/title_activity_auth"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ScanningActivity"
            android:label="@string/title_activity_gate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GateResultActivity"
            android:label="@string/title_activity_gate_result"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- Solo per testare le funzionalita' -->
        <activity
            android:name="it.rn2014.downloader.DownloadActivity"
            android:label="@string/hello_world" >
        </activity>
        <activity
            android:name=".SyncroActivity"
            android:label="@string/title_activity_syncro" >
        </activity>
    </application>

</manifest>
